<div class="form-group one_line nested-fields my-3">
    <%# <%= f.index + 1 %>
    <div class="field">
        <%= f.text_area :description, class: "form-control mx-3" %>
    </div>

    <div class="field">
        <p> Corrct Answer </p>
        <%= f.check_box :is_true, class:"my-1"%>
    </div>
    <%= link_to_remove_association "Remove Option", f, class: 'btn btn-danger bi bi-trash'%>
    <br>
</div>