
<div class='container'>
    <h1>Editing Test</h1>
    <%= link_to "Back to tests", tests_path, class: 'btn btn-primary' %>
    <%= link_to "Show this test", @test, class: 'btn btn-primary' %> 
    <br>
    <br>
    <%= render "form", test: @test %>
</div>
<br>